.miniProfileDIV {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.miniProfileDIV > div:first-child {
  display: flex;
  gap: 8px;
}

.followButton {
  border-radius: 50px;
  width: 6rem;
  height: 2rem;
  cursor: pointer;
  border: none;
}

.unfollowMini {
  background-color: black;
  color: white;
}

.followMini {
  background-color: white;
  border: 1px solid gray;
}

.miniProfilePfp {
  width: 100px;
}
