.outlet {
  display: flex;
  flex-direction: column-reverse;
  gap: 10px;
  min-height: 100vh;
  width: 100%;
}

.navDIV {
  position: relative;
  align-self: center;
  width: 100%;
  padding-bottom: 10px;
  padding-top: 10px;
  border-top: 1px solid rgba(177, 171, 171, 0.581);
}

.nav.options {
  display: flex;
  gap: 35px;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.logo.navIMG {
  width: 70px;
}

.navIMG {
  width: 35px;
  object-fit: contain;
  overflow: hidden;
  cursor: pointer;
}

/* FEED */

.feedDIV {
  padding: 20px;
  width: 700px;
  max-width: 700px;
}

.feedOpts {
  display: flex;
  font-size: 1rem;
  justify-content: space-around;
  height: 2rem;
}

.feedOpts > div {
  width: 20%;
  text-align: center;
}

.selectedView {
  border-bottom: 1px solid rgb(81, 81, 81);
}

/* MODALS */

.make.edit.post,
.makeACommentModal,
.addToInventoryModal,
.errorModal,
.delete.account.modal,
.confirmDeletePostModal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(128, 128, 128, 0.414);
}

/* FORMS */

.makePostForm,
.addToInvenForm {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100vw;
  height: 100vh;
  padding: 10px;
  overflow-y: auto;
  box-shadow: 0px 0px 30px 0px rgba(34, 20, 20, 0.709);
}

/*  when on larger devices switch like computer make it a legit modal + smooof edges */
.errorModal {
  z-index: 3;
  backdrop-filter: blur(0.5px);
  font-size: 2rem;
}

.confirmDeletePostModal {
  z-index: 9999;
}

.makePostForm > div {
  width: 100%;
}

.makePostForm > div:last-child {
  display: flex;
  justify-content: center;
}

.makePostForm > div > input,
.makePostForm > div > textarea {
  width: 100%;
}

.topOfPostModal {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.X {
  font-size: 1.4rem;
  color: rgba(56, 56, 56, 0.759);
  cursor: pointer;
}

.cannot.click,
.can.click {
  border: none;
  border-radius: 20px;
  width: 5em;
  height: 3em;
  text-align: center;
}

.cannot.click {
  color: rgba(96, 96, 96, 0.583);
}

.can.click {
  color: white;
  background-color: rgba(213, 155, 54, 0.757);
  cursor: pointer;
}

.title {
  height: 8%;
  font-size: 1.5rem;
  padding-left: 10px;
  border: none;
  margin-bottom: 2px;
}

.post-body-imgs {
  display: flex;
  height: 80%;
  width: 100%;
  gap: 2px;
}

.bodyText {
  max-height: 100%;
  padding-left: 10px;
  font-size: 1rem;
  overflow: auto;
  border: none;
}

.bodyText:focus,
.title:focus {
  outline: 2px solid rgba(158, 123, 232, 0.824);
}

.bodyText.HALF {
  width: 60%;
}

.imgs.if.any.sticky.or.whatever {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 40%;
  height: 100%;
  overflow: auto;
}

.postIMGContain {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.postIMGContain > button,
.dltPicX {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  background-color: rgba(55, 55, 50, 0.155);
  border: none;
  align-self: flex-end;
}

.picToPost {
  width: 100%;
  object-fit: contain;
}

.hidden {
  display: none;
}

/* WHEN THIS IMAGE GETS CLICKED MAKE IT A LARGE MODAL FOR ACCESSIBILITY */

.addToInvenForm {
  gap: 15px;
}

.addToInvenForm > div {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  justify-content: space-between;
  height: auto;
  padding: 10px;
}

.addToInvenForm > div > input {
  height: 2.3rem;
}

.notes > textarea {
  height: 250px;
  max-height: auto;
  max-width: 100%;
  width: 100%;
}

.addToInvenForm > div:last-child > div {
  display: flex;
  justify-content: space-evenly;
}

.upload.img {
  width: 3.5rem;
}

.previewIvenPhoto {
  max-width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.preview {
  object-fit: contain;
  width: 100%;
  height: 50vh;
}

@media (min-width: 600px) {
  .outlet {
    flex-direction: row;
    justify-content: center;
    gap: 20px;
  }

  .navDIV {
    width: 3rem;
    border-top: none;
  }

  .nav.options {
    flex-direction: column;
  }

  .feedDIV {
    border-left: 1px solid rgba(168, 168, 168, 0.598);
    border-right: 1px solid rgba(168, 168, 168, 0.598);
  }

  .makePostForm,
  .addToInvenForm {
    width: 90vw;
    height: 90vh;
  }

  .profileDIV {
    flex-grow: 2;
  }
}
