.userPostsDIV,
.postContent {
  display: flex;
  flex-direction: column;
}

.postDIV,
.postUserINFO,
.postUserINFO > div,
.postEngagement {
  display: flex;
}

.postUserINFO,
.postEngagement {
  justify-content: space-between;
}

.posterspfp {
  width: 100px;
}

.postUserINFO > div {
  gap: 1em;
}

.postUserINFO > div:last-child {
  color: rgb(78, 78, 78);
}

.postContent,
.postContent > div {
  flex-grow: 1;
}

.postdots {
  cursor: pointer;
  color: rgb(78, 78, 78);
}

.threeGrids {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 100%;
  gap: 3px;
}

.postIMG {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.userPostsDIV {
  gap: 0.5px;
}

.postDIV {
  border: 1px solid rgba(139, 139, 139, 0.516);
  border-radius: 5px;
  border-bottom: none;
  padding: 10px;
}

.postDIV:last-of-type {
  border-bottom: 1px solid rgba(139, 139, 139, 0.516);
}
