.profileDIV {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: scroll;
  height: 100%;
  width: 100vw;
  max-width: 100vh;
  position: relative;
}

.headerDIV {
  height: 200px;
  width: 100vw;
}

.headerIMG {
  height: 100%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

.profileDIV > div:last-child {
  align-self: center;
  width: 70vw;
  position: absolute;
  z-index: 1;
  transform: translateY(150px);
  height: 100%;
}

.z-index.user.content,
.z-index.user.content > div {
  display: flex;
  flex-direction: column;
}

.userINFO > div:first-child {
  display: flex;
  height: 100px;
}

.userINFO > div > img {
  height: 100%;
}
