.productsGrid {
  display: grid;
  grid-template-columns: repeat(4, 175px);
  max-width: 100%;
}

.productCard,
.productIMGDiv {
  width: 100%;
}

.view.and {
  justify-self: center;
  text-align: center;
}

.productIMG {
  width: 100%;
  max-width: 100%;
}

.productCard {
  display: flex;
  flex-direction: column;
  padding: 3px;
  border-radius: 5px;
  border: 1px solid gray;
}

.dltDots {
  text-align: right;
  cursor: pointer;
}

.centerError {
  text-align: center;
}

.editdlt {
  cursor: pointer;
}
