.settingsDIV {
  width: 100%;
  border-left: 1px solid rgba(168, 168, 168, 0.598);
  display: flex;
}

.settingsDIV > div {
  height: 100%;
}

.leftOfSettings {
  width: 35%;
}

.rightOfSettings {
  max-width: 75%;
  padding: 20px;
}

.settingsDIV > div:first-child > div:first-child {
  font-size: 2rem;
  padding: 20px;
}

.leftOfSettings,
.options-set {
  display: flex;
  flex-direction: column;
}

.leftOfSettings {
  gap: 30px;
}

.options-set {
  display: flex;
}

.options-set > div {
  padding: 20px;
}

.selectedSView {
  background-color: rgba(225, 225, 225, 0.386);
  border-right: 2px solid rgb(231, 206, 125);
}

.changePass {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.changePass > div:first-child {
  font-size: 2rem;
}
