.settingsDIV {
  width: 100%;
  border-left: 1px solid rgba(168, 168, 168, 0.598);
  display: flex;
}

.settingsDIV > div {
  height: 100%;
}

.leftOfSettings {
  width: 35%;
}

.rightOfSettings {
  width: 75%;
  padding: 20px;
  height: 100%;
}

.settingsDIV > div:first-child > div:first-child {
  font-size: 1rem;
  padding: 20px;
}

.leftOfSettings,
.options-set {
  display: flex;
  flex-direction: column;
}

.leftOfSettings {
  gap: 30px;
  border-right: 1px solid rgba(168, 168, 168, 0.598);
}

.options-set {
  display: flex;
}

.options-set > div {
  padding: 20px;
}

.selectedSView {
  background-color: rgba(225, 225, 225, 0.261);
  border-right: 2px solid rgb(231, 206, 125);
}

.selectedSView,
.viewOpt {
  cursor: pointer;
}

.changePass {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.changePass > div:first-child {
  font-size: 1.5rem;
}

.currentIconHeader {
  position: relative;
}

.currentHeader,
.wantedHeader {
  width: 100%;
  overflow: hidden;
  height: auto;
}

.iconHolder {
  justify-self: center;
  position: absolute;
  transform: translateY(-50%);
}

.currentIcon {
  width: 100px;
  object-fit: contain;
}

.clickEdit {
  margin-top: 70px;
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 10px;
}

.editStatic {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
