.curs0rclick {
  cursor: pointer;
}

.welcomeDIV {
  display: flex;
  justify-content: center;
  background-image: url("../imgs/image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  height: 100%;
}

.pre-login-signup {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 90vw;
}

.pre-login-signup > div {
  display: flex;
  flex-direction: column;
}

.welcome {
  height: 30%;
  font-size: 2.5rem;
  align-items: flex-end;
  padding-top: 2em;
}

.info {
  font-size: 1.5rem;
  display: flex;
  height: 70%;
  gap: 1.5em;
  justify-content: center;
  align-items: flex-start;
}

.info > div:last-child {
  display: flex;
  gap: 2em;
}

.blur {
  backdrop-filter: blur(2px);
}

.loginDIV,
.signupDIV {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 90vw;
  justify-content: center;
  align-items: center;
}

.loginDIV > form,
.signupDIV > form {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}
