.curs0rclick {
  cursor: pointer;
}

.welcomeDIV {
  background-image: url("../imgs/image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  height: 100%;
}

.pre-login-signup {
  display: flex;
  height: 100%;
}

.pre-login-signup > div {
  width: 50%;
  height: 100%;
}

.applogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10rem;
}

.login.signup {
  display: flex;
}
