.curs0rclick {
  cursor: pointer;
}

.welcomeDIV {
  display: flex;
  justify-content: center;
  background-image: url("../imgs/image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  height: 100%;
}

@keyframes rolling {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(100%);
  }
}

.welcome-text {
  animation: rolling 5s linear infinite;
}

.logoIMG {
  height: auto;
  width: 260px;
  object-fit: contain;
}

.pre-login-signup {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 90vw;
}

.pre-login-signup > div {
  display: flex;
  flex-direction: column;
}

.welcome {
  height: 30%;
  font-size: 2.5rem;
  align-items: flex-end;
  padding-top: 2em;
}

.info {
  font-size: 1.5rem;
  display: flex;
  height: 70%;
  gap: 1.5em;
  justify-content: center;
  align-items: flex-start;
}

.info > div:last-child {
  display: flex;
  gap: 2em;
}

.blur {
  backdrop-filter: blur(2px);
}

.welcomeBack,
.imgDivHolder {
  min-width: 100%;
}

.welcomeBack > div:last-child {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcomeBack > div:first-child {
  font-size: 1.5rem;
}

.imgDivHolder {
  display: flex;
  justify-content: center;
}

.loginDIV,
.signupDIV {
  display: flex;
  flex-direction: column;
  height: 100;
  width: 90vw;
  justify-content: center;
  align-items: center;
}

.loginDIV > form,
.signupDIV > form {
  display: flex;
  flex-direction: column;
  gap: 2em;
  width: 100%;
}

.loginDIV > form > div > input,
.signupDIV > form > div > input,
.loginDIV > form > div > div > input,
.signupDIV > form > div > div > input {
  width: 100%;
  height: 3em;
  border: none;
  padding-left: 12px;
  border-radius: 7px;
  font-size: 1.1rem;
}

.loginDIV > form > div > input:focus,
.signupDIV > form > div > input:focus,
.loginDIV > form > div > div > input:focus,
.signupDIV > form > div > div > input:focus {
  box-shadow: 0 0 0 3.3px rgb(241, 160, 88);
  outline: none;
}

.clickableLoginBTN,
.cannot-click-btn,
.signupDivBtn {
  align-self: center;
}

.loginBTN,
.clickableSignupBTN {
  width: 12em;
  height: 2.5em;
  border-radius: 50px;
  font-size: 1rem;
  border: none;
  box-shadow: -3px 3px 20px 5px rgba(34, 20, 20, 0.709);
}

.passwordFlex {
  display: flex;
  background-color: antiquewhite;
}

.loginDIV > div:last-child {
  padding-top: 20px;
}

.needToSignUpOrLogIn > div {
  text-align: center;
  font-size: 1.2rem;
  backdrop-filter: blur(1.2px);
}

.welcomeDIV,
.loginDIV,
.signupDIV {
  overflow: hidden;
}
